.login {
  width: 27em;
  height: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1px;
  position: relative;
  z-index: 100;


  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fff;
      -webkit-box-shadow: 10px 10px 5px 0px rgba(116,137,173,1);
      -moz-box-shadow: 10px 10px 5px 0px rgba(116,137,173,1);
      box-shadow: 10px 10px 5px 0px rgba(116,137,173,1);
      border-radius: 66px;
      -webkit-box-shadow: inset 10px 10px 83px -73px rgba(122,127,194,1);
      -moz-box-shadow: inset 10px 10px 83px -73px rgba(122,127,194,1);
      box-shadow: inset 10px 10px 83px -73px rgba(122,127,194,1);
      position: relative;
      z-index: 99;
      width: 80%;
      height: 80%;
      z-index: 99;
      padding: 15px 10px;
      }
      
  
  }

//Button
.btn {
  width: auto;
  transition: all 250ms ease-in-out;
  cursor: pointer;
}
